.wrapper {
  width: 280px;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;

  .button {
    margin-top: 20px;
  }
}
