//Size
$content-max-width: 1140px;
$content-min-width: 320px;
$min-width: 248px;

//Background color
$background-color: #e5e8ed;

//Font Color
$main-font-color: #868a8d;
$active-font-color: #212229;

// Buttons color
$disabled-button-color: #c2cbd1;
$active-button-color: #1493fe;

$error-color: red;
