@import 'styles/_variables.scss';

.wrapper {
  position: absolute;
  width: 248px;
  max-height: 200px;
  padding: 0 13px;
  z-index: 11;
  border: 1px solid #e6ecef;
  border-radius: 4px;
  overflow-y: auto;
  background-color: white;
  box-sizing: border-box;
  margin-top: 3px;
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 14px 0;
  color: $main-font-color;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #e6ecef;
  box-sizing: border-box;
  &:last-of-type {
    border: none;
  }
  &:hover {
    color: $active-font-color;
  }
  &.selected {
    color: $active-font-color;
  }
}
