@import 'styles/_variables.scss';

.button {
  max-width: 248px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 16px 0;

  color: white;
  border-radius: 4px;
  &.primary {
    background-color: $active-button-color;
  }
  &.disabled,
  &.secondary {
    background-color: $disabled-button-color;
  }
}
